{% extends "data/_form.html" %} {% block form %}
<script>
  const form = document.querySelector("form");
</script>

<div class="row">
  <div>
    <label>Date:</label>
    <input name="Date" type="date" required />
  </div>
  <div>
    <label>Start Time:</label>
    <input name="In" type="time" required />
  </div>
  <div>
    <label>End Time:</label>
    <input name="Out" type="time" required />
  </div>
</div>

<div class="row">
  <div>
    <label>Department:</label>
    <select name="Department" required>
      <option style="display: none" disabled selected value></option>
      {% for department in departments %}
      <option value="{{ department }}">{{ department }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select name="Level" required>
      <option style="display: none" disabled selected value></option>
      {% for level in levels %}
      <option value="{{ level }}">{{ level }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="row">
  <div>
    <label>Query 1:</label>
    <select name="Query 1" required>
      <option style="display: none" disabled selected value></option>
      {% for category in topics["AS&D"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["AS&D"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Query 2:</label>
    <select name="Query 2" required>
      <option value="N/A">N/A</option>
      {% for category in topics["AS&D"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["AS&D"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
</div>

<div class="row">
  <div>
    <label>Format:</label>
    <select name="Format" required>
      <option style="display: none" disabled selected value></option>
      <option value="In Person">In Person</option>
      <option value="Online">Online</option>
    </select>
  </div>
  <div>
    <label>Location:</label>
    <select name="Location" required>
      <option style="display: none" disabled selected value></option>
      <option style="display: none">Online</option>
      {% for location in locations %}
      <option value="{{ location }}">{{ location }}</option>
      {% endfor %}
    </select>
  </div>
  <script>
    const format_select = document.querySelector("select[name='Format']");
    const location_select = document.querySelector("select[name='Location']");

    format_select.addEventListener("change", () => {
      if (format_select.value === "Online") {
        location_select.value = "Online";
        location_select.disabled = true;
      } else {
        location_select.value = "";
        location_select.disabled = false;
      }
    });

    form.addEventListener("submit", () => {
      location_select.disabled = false;
    });
  </script>
</div>

<div class="row">
  <div>
    <label>Appointment:</label>
    <input name="Appointment" type="hidden" value="No" />
    <input name="Appointment" type="checkbox" value="Yes" />
    <script>
      const appointment_checkbox = document.querySelector("input[name='Appointment'][type='checkbox']");
      const appointment_hidden = document.querySelector("input[name='Appointment'][type='hidden']");

      form.addEventListener("submit", () => {
        if (appointment_checkbox.checked) {
          appointment_hidden.disabled = true;
        };
      });
    </script>
  </div>
  <div>
    <label>Attendance:</label>
    <select name="Attendance" required disabled>
      <option value="N/A">N/A</option>
      <option value="Attended">Attended</option>
      <option value="No Show">No Show</option>
      <option value="Cancelled">Cancelled</option>
    </select>
  </div>
  <script>
    const attendance_select = document.querySelector("select[name='Attendance']");

    appointment_checkbox.addEventListener("change", () => {
      if (appointment_checkbox.checked) {
        attendance_select.disabled = false;
        attendance_select.value = "Attended";
        attendance_select.querySelector("option[value='N/A']").style.display = "none";
      } else {
        attendance_select.disabled = true;
        attendance_select.value = "N/A";
        attendance_select.querySelector("option[value='N/A']").style.display = "block";
      }
    });

    form.addEventListener("submit", () => {
      attendance_select.disabled = false;
    });
  </script>
</div>

<div class="row">
  <div>
    <label>No. of Students:</label>
    <input name="Students" type="number" min="1" value="1" required />
  </div>
  <div>
    <label>Project:</label>
    <input name="Project" type="hidden" value="No" />
    <input name="Project" type="checkbox" value="Yes" />
    <script>
      const project_checkbox = document.querySelector("input[name='Project'][type='checkbox']");
      const project_hidden = document.querySelector("input[name='Project'][type='hidden']");

      form.addEventListener("submit", () => {
        if (project_checkbox.checked) {
          project_hidden.disabled = true;
        };
      });
    </script>
  </div>
</div>

<div class="row">
  <div>
    <label>Notes:</label>
    <input name="Notes" type="text" disabled />
    <script>
      const query1 = document.querySelector("select[name='Query 1']");
      const query2 = document.querySelector("select[name='Query 2']");
      const notes = document.querySelector("input[name='Notes']");

      function checkQueries() {
        const match_strings = [
          "Referencing",
          "Managing information (including referencing software)",
        ];
        const matches = match_strings.some(
          (str) => query1.value.includes(str) || query2.value.includes(str),
        );
        notes.disabled = !matches;
      }

      query1.addEventListener("change", checkQueries);
      query2.addEventListener("change", checkQueries);
    </script>
  </div>
</div>
{% endblock %}
