{% extends "data/_form.html" %} {% block form %}
<script>
  const form = document.querySelector("form");
</script>
<div class="row">
  <div>
    <label>Date:</label>
    <input name="Date" type="date" required />
  </div>
  <div>
    <label>Start Time:</label>
    <input name="In" type="time" required />
  </div>
  <div>
    <label>End Time:</label>
    <input name="Out" type="time" required />
  </div>
</div>
<div class="row">
  <div>
    <label>Department:</label>
    <select name="Department" required>
      <option style="display: none" disabled selected value></option>
      {% for department in departments %}
      <option value="{{ department }}">{{ department }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select name="Level" required>
      <option style="display: none" disabled selected value></option>
      {% for level in levels %}
      <option value="{{ level }}">{{ level }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Query 1:</label>
    <select name="Query 1" required>
      <option style="display: none" disabled selected value></option>
      {% for category in topics["MASA"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["MASA"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Query 2:</label>
    <select name="Query 2" required>
      <option value="N/A">N/A</option>
      {% for category in topics["MASA"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["MASA"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Format:</label>
    <select name="Format" required>
      <option style="display: none" disabled selected value></option>
      <option value="In Person">In Person</option>
      <option value="Online">Online</option>
    </select>
  </div>
  <div>
    <label>Location:</label>
    <select name="Location" required>
      <option style="display: none" disabled selected value></option>
      {% for location in locations %}
      <option value="{{ location }}">{{ location }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Appointment:</label>
    <input name="Appointment" type="hidden" value="No" id="appointment_hidden"/>
    <input name="Appointment" type="checkbox" value="Yes" id="appointment" />
    <script>
      const appointment = document.getElementById("appointment");
      const appointment_hidden = document.getElementById("appointment_hidden");

      form.addEventListener('submit', () => {
        if(appointment.checked) {
          appointment_hidden.disabled = true;
        };
      });
    </script>
  </div>
  <div>
    <label>Attendance:</label>
    <select name="Attendance" id="attendance" required disabled>
      <option value="N/A">N/A</option>
      <option value="Attended">Attended</option>
      <option value="No Show">No Show</option>
      <option value="Cancelled">Cancelled</option>
    </select>
  </div>
  <script>
    const attendance = document.getElementById("attendance");

    appointment.addEventListener("change", () => {
      if (appointment.checked) {
        attendance.disabled = false;
        attendance.value = "Attended";
        attendance.querySelector('option[value="N/A"]').style.display = 'none';
      } else {
        attendance.disabled = true;
        attendance.value = "N/A";
        attendance.querySelector('option[value="N/A"]').style.display = 'block';
      }
    });

    form.addEventListener('submit', () => {
      attendance.disabled = false;
    });
  </script>
</div>
<div class="row">
  <div>
    <label>No. of Students:</label>
    <input name="Students" type="number" min="1" value="1" required />
  </div>
  <div>
    <label>Project:</label>
    <input name="Project" type="hidden" value="No" id="project_hidden" />
    <input name="Project" type="checkbox" value="Yes" id="project" />
    <script>
      const project = document.getElementById("project");
      const project_hidden = document.getElementById("project_hidden");

      form.addEventListener('submit', () => {
        if(project.checked) {
          project_hidden.disabled = true;
        };
      });
    </script>
  </div>
</div>
<div class="row">
  <div>
    <label>Notes:</label>
    <input name="Notes" type="text" />
  </div>
</div>
{% endblock %}
