{% extends "_layout.html" %} {% block main %}
<h1>{{ subcategory|upper }} ({{ category|capitalize }})</h1>
<form
  method="POST"
  action="{{ url_for('.add', category=category, subcategory=subcategory) }}"
>
  {% block form %}{% endblock %}
  <input value="Submit" type="submit" />
  <input
    value="Edit"
    type="button"
    onclick='window.location="{{ url_for('.edit', category=category, subcategory=subcategory) }}"'
  />
</form>

<script>
  const date_select = document.getElementsByName("Date")[0];
  date_select.valueAsDate = new Date();
</script>
{% endblock %}
