{% extends "_layout.html" %} {% block main %}
<table class="table">
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for row in table %}
    <tr onclick="remove(this)">
      {% for entry in row %}
      <td>{{ entry }}</td>
      {% endfor %}
    </tr>
    <script>
      function remove(row) {
        const idx = row.rowIndex - 1;
        let url =
          "{{ url_for('.remove', category=category, subcategory=subcategory, idx=0) }}";
        url = url.replace("0", idx);
        window.location.replace(url);
      }
    </script>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
