{% extends "_layout.html" %} {% block main %}
<table class="table">
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header|capitalize }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for row in table %}
    <tr onclick="edit(this)">
      {% for entry in row %}
      <td>{{ entry }}</td>
      {% endfor %}
    </tr>
    <script>
      function edit(row) {
        const idx = row.rowIndex - 1;
        let url = "{{ url_for('.edit', idx=0) }}";
        url = url.replace("0", idx);
        window.location.replace(url);
      }
    </script>
    {% endfor %}

    <tr onclick='window.location.replace("{{ url_for(".add") }}")'>
      <td colspan="100%">+</td>
    </tr>
  </tbody>
</table>
{% endblock %}
