{% extends "_layout.html" %} {% block main %}
<table class="table">
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table %}
    <tr onclick="edit(this)">
      {% for entry in row %}
      <td>{{ entry }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr onclick="add()">
      <td colspan="100%">+</td>
    </tr>
  </tbody>
</table>

<script>
  function add() {
    let url = "{{ url_for('.add') }}";
    window.location.replace(url);
  }
  function edit(row) {
    const idx = row.rowIndex - 1;
    let url = "{{ url_for('.edit', idx=0) }}";
    url = url.replace("0", idx);
    window.location.replace(url);
  }
</script>
{% endblock %}
