{% extends "data/_form.html" %} {% block form %}
<script>
  const form = document.querySelector("form");
</script>
<div class="row">
  <div>
    <label>Date:</label>
    <input name="Date" type="date" required />
  </div>
</div>
<div class="row">
  <div>
    <label>Session Time:</label>
    <input name="Session Time" type="number" min="0" step="0.25" required />
  </div>
  <div>
    <label>Preparation Time:</label>
    <input name="Preparation Time" type="number" min="0" step="0.25" required />
  </div>
</div>
<div class="row">
  <div>
    <label>Workshop Name:</label>
    <input name="Workshop Name" type="text" required />
  </div>
</div>
<div class="row">
  <div>
    <label>Module:</label>
    <input name="Module" type="text" required />
  </div>
</div>
<div class="row">
  <div>
    <label>Department:</label>
    <select name="Department" required>
      <option style="display: none" disabled selected value></option>
      {% for department in departments %}
      <option value="{{ department }}">{{ department }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select name="Level" required>
      <option style="display: none" disabled selected value></option>
      {% for level in levels %}
      <option value="{{ level }}">{{ level }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Query 1:</label>
    <select name="Query 1" id="query1" required>
      <option style="display: none" disabled selected value></option>
      {% for category in topics["AS&D"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["AS&D"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Query 2:</label>
    <select name="Query 2" id="query2" required>
      <option value="N/A">N/A</option>
      {% for category in topics["AS&D"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["AS&D"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Format:</label>
    <select name="Format" required>
      <option style="display: none" disabled selected value></option>
      <option value="In Person">In Person</option>
      <option value="Online">Online</option>
    </select>
  </div>
  <div>
    <label>Location:</label>
    <select name="Location" required>
      <option style="display: none" disabled selected value></option>
      {% for location in locations %}
      <option value="{{ location }}">{{ location }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<a>Staff:</a>
<div class="row selector">
  <div>
    <label>LDA</label>
    <input name="LDA" type="hidden" value="No" id="lda_hidden" />
    <input name="LDA" type="checkbox" value="Yes" id="lda" />
    <script>
      const lda = document.getElementById("lda");
      const lda_hidden = document.getElementById("lda_hidden");

      form.addEventListener('submit', () => {
        if(lda.checked) {
          lda_hidden.disabled = true;
        };
      });
    </script>
  </div>
  <div>
    <label>LDL</label>
    <input name="LDL" type="hidden" value="No" id="ldl_hidden" />
    <input name="LDL" type="checkbox" value="Yes" id="ldl" />
    <script>
      const ldl = document.getElementById("ldl");
      const ldl_hidden = document.getElementById("ldl_hidden");

      form.addEventListener('submit', () => {
        if(ldl.checked) {
          ldl_hidden.disabled = true;
        };
      });
    </script>
  </div>
  <div>
    <label>MASA</label>
    <input name="MASA" type="hidden" value="No" id="masa_hidden" />
    <input name="MASA" type="checkbox" value="Yes" id="masa" />
    <script>
      const masa = document.getElementById("masa");
      const masa_hidden = document.getElementById("masa_hidden");

      form.addEventListener('submit', () => {
        if(masa.checked) {
          masa_hidden.disabled = true;
        };
      });
    </script>
  </div>
  <div>
    <label>FY</label>
    <input name="FY" type="hidden" value="No" id="fy_hidden" />
    <input name="FY" type="checkbox" value="Yes" id="fy" />
    <script>
      const fy = document.getElementById("fy");
      const fy_hidden = document.getElementById("fy_hidden");

      form.addEventListener('submit', () => {
        if(fy.checked) {
          fy_hidden.disabled = true;
        };
      });
    </script>
  </div>
  <div>
    <label>Acad</label>
    <input name="Acad" type="hidden" value="No" id="acad_hidden" />
    <input name="Acad" type="checkbox" values="Yes" id="acad" />
    <script>
      const acad = document.getElementById("acad");
      const acad_hidden = document.getElementById("acad_hidden");

      form.addEventListener('submit', () => {
        if(acad.checked) {
          acad_hidden.disabled = true;
        };
      });
    </script>
  </div>
</div>
<div class="row">
  <div>
    <label>Type:</label>
    <select name="Type" required>
      <option style="display: none" disabled selected value></option>
      <option value="Department - synchronous taught">
        Department - synchronous taught
      </option>
      <option value="Department - synchronous Q+A">
        Department - synchronous Q+A
      </option>
      <option value="Department - asynchronous (panopto recording)">
        Department - asynchronous (panopto recording)
      </option>
      <option value="Discussion Forum">Discussion Forum</option>
      <option value="Professional Service">Professional Service</option>
      <option value="WPO">WPO</option>
    </select>
  </div>
  <div>
    <label>Contextualisation:</label>
    <select name="Contextualisation" required>
      <option style="display: none" disabled selected value></option>
      <option value="None">None</option>
      <option value="Minimal">Minimal</option>
      <option value="Significant">Significant</option>
      <option value="Full">Full</option>
    </select>
  </div>
  <div>
    <label>Assessment:</label>
    <select name="Assessment" required>
      <option style="display: none" disabled selected value></option>
      <option value="No">No</option>
      <option value="Partially">Partially</option>
      <option value="Directly">Directly</option>
      <option value="Project/Dissertation">Project/Dissertation</option>
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Resources:</label>
    <select name="Resources" required>
      <option value="N/A">N/A</option>
      <option value="Not applicable to other workshops">
        Not applicable to other workshops
      </option>
      <option value="Is applicable to other workshops">
        Is applicable to other workshops
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Referrals:</label>
    <select name="Referrals" id="referrals" multiple>
      {% for referral in referrals %}
      <option value="{{ referral }}">{{ referral }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="row">
  <div>
    <label>Students Expected:</label>
    <input name="Students Expected" type="number" min="0" required />
  </div>
  <div>
    <label>Students Arrived:</label>
    <input name="Students Arrived" type="number" min="0" required />
  </div>
</div>
<div class="row">
  <div>
    <label>Notes:</label>
    <input name="Notes" id="notes" type="text" disabled />
  </div>
</div>

<script>
  $("#referrals").multiselect({
    includeSelectAllOption: true,
    selectAllText: "Select All",
    nonSelectedText: "None Selected",
    nSelectedText: "Selected",
    allSelectedText: "All Selected",
  });

  const query1 = document.getElementById("query1");
  const query2 = document.getElementById("query2");
  const notes = document.getElementById("notes");
  const matchStrings = [
    "Referencing",
    "Managing information (including referencing software)",
  ];

  function checkQueries() {
    const matches = matchStrings.some(
      (str) => query1.value.includes(str) || query2.value.includes(str),
    );
    notes.disabled = !matches;
  }

  query1.addEventListener("change", checkQueries);
  query2.addEventListener("change", checkQueries);
</script>
{% endblock %}
