{% extends "data/_form.html" %} {% block form %}
<script>
  const form = document.querySelector("form");
</script>

<div class="row">
  <div>
    <label>Date:</label>
    <input name="Date" type="date" required />
  </div>
</div>

<div class="row">
  <div>
    <label>Session Time:</label>
    <input name="Session Time" type="number" min="0" step="0.25" required />
  </div>
  <div>
    <label>Preparation Time:</label>
    <input name="Preparation Time" type="number" min="0" step="0.25" required />
  </div>
</div>

<div class="row">
  <div>
    <label>Workshop Name:</label>
    <input name="Workshop Name" type="text" required />
  </div>
</div>

<div class="row">
  <div>
    <label>Module:</label>
    <input name="Module" type="text" required />
  </div>
</div>

<div class="row">
  <div>
    <label>Department:</label>
    <select name="Department" required>
      <option style="display: none" disabled selected value></option>
      {% for department in departments %}
      <option value="{{ department }}">{{ department }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Level:</label>
    <select name="Level" required>
      <option style="display: none" disabled selected value></option>
      {% for level in levels %}
      <option value="{{ level }}">{{ level }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="row">
  <div>
    <label>Query 1:</label>
    <select name="Query 1" required>
      <option style="display: none" disabled selected value></option>
      {% for category in topics["AS&D"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["AS&D"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Query 2:</label>
    <select name="Query 2" required>
      <option value="N/A">N/A</option>
      {% for category in topics["AS&D"] %}
      <optgroup label="{{ category }}">
        {% for topic in topics["AS&D"][category] %}
        <option value="{{ category }}: {{ topic }}">{{ topic }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
  </div>
</div>

<div class="row">
  <div>
    <label>Format:</label>
    <select name="Format" required>
      <option style="display: none" disabled selected value></option>
      <option value="In Person">In Person</option>
      <option value="Online">Online</option>
    </select>
  </div>
  <div>
    <label>Location:</label>
    <select name="Location" required>
      <option style="display: none" disabled selected value></option>
      <option style="display: none">Online</option>
      {% for location in locations %}
      <option value="{{ location }}">{{ location }}</option>
      {% endfor %}
    </select>
  </div>
  <script>
    const format_select = document.querySelector("select[name='Format']");
    const location_select = document.querySelector("select[name='Location']");

    format_select.addEventListener("change", () => {
      if (format_select.value === "Online") {
        location_select.value = "Online";
        location_select.disabled = true;
      } else {
        location_select.value = "";
        location_select.disabled = false;
      }
    });

    form.addEventListener("submit", () => {
      location_select.disabled = false;
    });
  </script>
</div>

<a>Staff:</a>
<div class="row selector">
  <div>
    <label>LDA</label>
    <input name="LDA" type="hidden" value="No" />
    <input name="LDA" type="checkbox" value="Yes" />
    <script>
      const lda_checkbox = document.querySelector(
        "input[name='LDA'][type='checkbox']",
      );
      const lda_hidden = document.querySelector(
        "input[name='LDA'][type='hidden']",
      );

      form.addEventListener("submit", () => {
        if (lda_checkbox.checked) {
          lda_hidden.disabled = true;
        }
      });
    </script>
  </div>
  <div>
    <label>LDL</label>
    <input name="LDL" type="hidden" value="No" />
    <input name="LDL" type="checkbox" value="Yes" />
    <script>
      const ldl_checkbox = document.querySelector(
        "input[name='LDL'][type='checkbox']",
      );
      const ldl_hidden = document.querySelector(
        "input[name='LDL'][type='hidden']",
      );

      form.addEventListener("submit", () => {
        if (ldl_checkbox.checked) {
          ldl_hidden.disabled = true;
        }
      });
    </script>
  </div>
  <div>
    <label>MASA</label>
    <input name="MASA" type="hidden" value="No" />
    <input name="MASA" type="checkbox" value="Yes" />
    <script>
      const masa_checkbox = document.querySelector(
        "input[name='MASA'][type='checkbox']",
      );
      const masa_hidden = document.querySelector(
        "input[name='MASA'][type='hidden']",
      );

      form.addEventListener("submit", () => {
        if (masa_checkbox.checked) {
          masa_hidden.disabled = true;
        }
      });
    </script>
  </div>
  <div>
    <label>FY</label>
    <input name="FY" type="hidden" value="No" />
    <input name="FY" type="checkbox" value="Yes" />
    <script>
      const fy_checkbox = document.querySelector(
        "input[name='FY'][type='checkbox']",
      );
      const fy_hidden = document.querySelector(
        "input[name='FY'][type='hidden']",
      );

      form.addEventListener("submit", () => {
        if (fy_checkbox.checked) {
          fy_hidden.disabled = true;
        }
      });
    </script>
  </div>
  <div>
    <label>Acad</label>
    <input name="Acad" type="hidden" value="No" />
    <input name="Acad" type="checkbox" values="Yes" />
    <script>
      const acad_checkbox = document.querySelector(
        "input[name='Acad'][type='checkbox']",
      );
      const acad_hidden = document.querySelector(
        "input[name='Acad'][type='hidden]",
      );

      form.addEventListener("submit", () => {
        if (acad_checkbox.checked) {
          acad_hidden.disabled = true;
        }
      });
    </script>
  </div>
</div>

<div class="row">
  <div>
    <label>Type:</label>
    <select name="Type" required>
      <option style="display: none" disabled selected value></option>
      <option value="Department - synchronous taught">
        Department - synchronous taught
      </option>
      <option value="Department - synchronous Q+A">
        Department - synchronous Q+A
      </option>
      <option value="Department - asynchronous (panopto recording)">
        Department - asynchronous (panopto recording)
      </option>
      <option value="Discussion Forum">Discussion Forum</option>
      <option value="Professional Service">Professional Service</option>
      <option value="WPO">WPO</option>
    </select>
  </div>
  <div>
    <label>Contextualisation:</label>
    <select name="Contextualisation" required>
      <option style="display: none" disabled selected value></option>
      <option value="None">None</option>
      <option value="Minimal">Minimal</option>
      <option value="Significant">Significant</option>
      <option value="Full">Full</option>
    </select>
  </div>
  <div>
    <label>Assessment:</label>
    <select name="Assessment" required>
      <option style="display: none" disabled selected value></option>
      <option value="No">No</option>
      <option value="Partially">Partially</option>
      <option value="Directly">Directly</option>
      <option value="Project/Dissertation">Project/Dissertation</option>
    </select>
  </div>
</div>

<div class="row">
  <div>
    <label>Resources:</label>
    <select name="Resources" required>
      <option value="N/A">N/A</option>
      <option value="Not applicable to other workshops">
        Not applicable to other workshops
      </option>
      <option value="Is applicable to other workshops">
        Is applicable to other workshops
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div>
    <label>Referrals:</label>
    <select name="Referrals" id="referrals" multiple>
      {% for referral in referrals %}
      <option value="{{ referral }}">{{ referral }}</option>
      {% endfor %}
    </select>
    <script>
      $("#referrals").multiselect({
        includeSelectAllOption: true,
        selectAllText: "Select All",
        nonSelectedText: "None Selected",
        nSelectedText: "Selected",
        allSelectedText: "All Selected",
      });
    </script>
  </div>
</div>

<div class="row">
  <div>
    <label>Students Expected:</label>
    <input name="Students Expected" type="number" min="0" required />
  </div>
  <div>
    <label>Students Arrived:</label>
    <input name="Students Arrived" type="number" min="0" required />
  </div>
</div>

<div class="row">
  <div>
    <label>Notes:</label>
    <input name="Notes" id="notes" type="text" disabled />
  </div>
</div>

<script>
  const query1 = document.querySelector("select[name='Query 1']");
  const query2 = document.querySelector("select[name='Query 2']");
  const notes = document.querySelector("input[name='Notes']");

  function checkQueries() {
    const match_strings = [
      "Referencing",
      "Managing information (including referencing software)",
    ];
    const matches = match_strings.some(
      (str) => query1.value.includes(str) || query2.value.includes(str),
    );
    notes.disabled = !matches;
  }

  query1.addEventListener("change", checkQueries);
  query2.addEventListener("change", checkQueries);
</script>
{% endblock %}
